{% extends 'base.html.twig' %}

{% block body %}
{% apply inline_css(source("styles/login.css")) %}
<div class="box">
{% if isAdd %}
        <h1>Ajout d'un produit</h1>
    {% else %}
        <h1>Modification du produit {{ product.name }}</h1>
    {% endif %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn" type="submit">Valider!</button>
    {{ form_end(form) }}

    <a href="{{ path('products_index') }}">Retour liste produits</a>
    </div> <!-- End Box -->
    {% endapply %}
{% endblock %}