{% extends 'base.html.twig' %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div class="example-wrapper">
    <h1>Liste des jeux videos</h1>
    <br>


  <div class="panel">
    <div class="panel-heading" >
    <h3>Filtrer par</h3>
    </div>
    <div class="panel-body"></div>

    <select id="plateforme" name="plateforme">
      {% for plateforme in plateformesRepository.findAll %}
        <option value={{ plateforme.name }}>{{ plateforme.name }}</option>
    {% endfor %}
    </select>

    <select id="genre" name="genre">
        {% for genre in genresRepository.findAll %}
        <option value={{ genre.name }}>{{ genre.name }}</option>
    {% endfor %} 
    </select>

     <div>
    <h1 style="text-align:center">Listing des Produits</h1>
     <div>
        {% for game in games %}
            <div class="card">
                  <img src="{{ game.photo }}" style="width:100%" />
                  
                    <h2>{{ game.title }}</h2>
                     <p class="price">{{ game.synopsis }} euros</p>
     
            </div>
        {% endfor %}
    </div>
</div>





    

      
</div>
  

  </div>
  
</div>
{% endapply %}
{% endblock %}
