{% extends 'base.html.twig' %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div class ="row    ">
    <h1>Liste des jeux videos</h1>
    <br class="brtitre">

      <div class="cardFiltre">
    {{ form_start(form, {attr: {class: 'filter'}}) }}
    
        {{form_row(form.q)}}

      <br>
       <div class="column">
       <h4>Plateformes</h4>
        <br class="brtitre">
       {{form_row(form.plateformes)}}
       </div>
        <div class="column">
       <h4>Genres</h4>
       <br class="brtitre">
       {{form_row(form.genres)}}
       </div>
       <button type="submit" class="btn btn-primary w-100">Filtrer</button>
    {{ form_end(form) }}
 </div>
{# 
  <div class="panel">
    <div class="panel-heading" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h3>Filtrer par :</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle filtre" style="color: black;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plateforme
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for plateforme in plateformesRepository.findAll %}
              <li><a class="dropdown-item" style="color: black ;"href="#">{{ plateforme.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle filtre" style="color: black;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for genre in genresRepository.findAll %}
              <li><a class="dropdown-item" style="color: black;" href="#">{{ genre.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </div>
</div>
</div>
</div>
     <a href="{{path("games_plateforme")}}">Cherche par plateforme</a>    
     <a href="{{path("games_genre")}}">Cherche par genre</a>      #}

    <div>
        {% for game in games %}
            <a href="{{ path('games_get', { id: game.id}) }}">

            <div class="card">
                <span class="spanphoto">
                   <img src="{{ game.photo }}" />
                </span>
                
                <span class="spancontenu">
                    <h2>{{ game.title }}</h2>
                    <table class="table">
                      <thead>
                        <tr>
                          {% for plateforme in game.plateforme %}
                            <th scope="col">{{plateforme}}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                    </table>
                    <br class="brtitre">
                    <p class="paragraphe">{{ game.synopsis }}</p>
                    <p class="paragraphe">...</p>
                </span>            
            </div>
            </a>  
            <br>

        {% endfor %}

        <div class="pagination">
         {{ knp_pagination_render (games)}}
        </div>
    </div>
    
   

     
      



{% endapply %}
{% endblock %}
