{% extends 'base.html.twig' %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div class="example-wrapper">
    <h1>Liste des jeux videos</h1>
    <br>


  <div class="panel">
    <div class="panel-heading" >
    <h3>Filtrer par</h3>
    </div>
    <div class="panel-body"></div>

    <select class="option" id="plateforme" name="plateforme">
      {% for plateforme in plateformesRepository.findAll %}
        <option class="option" value={{ plateforme.name }}>{{ plateforme.name }}</option>
    {% endfor %}
    </select>

    <select class="option" id="genre" name="genre">
        {% for genre in genresRepository.findAll %}
        <option class="option" value={{ genre.name }}>{{ genre.name }}</option>
    {% endfor %} 
    </select>     
</div>
</div>
</div>

<br>

    <div>
        {% for game in games %}
            <a href="{{path("app_article")}}">

            <div class="card">
                <span class="spanphoto">
                   <img src="{{ game.photo }}" style="width:100%" />
                </span>
                
                <span class="spancontenu">
                    <h2>{{ game.title }}</h2>
                    <br class="brtitre">
                    <h4>{{ game.plateforme }}</h4>
                    <br>
                    <p class="paragraphe">{{ game.synopsis }}</p>
                </span>            
            </div>
            </a>  
            <br>

        {% endfor %}
    </div>



{% endapply %}
{% endblock %}
