{% extends 'base.html.twig' %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div class ="container row" style="margin: 0px 0px 0px 50px;">
    <h1>Liste des jeux videos</h1>
    <br class="brtitre">
    <br>

      <div class="cardFiltre">
    {{ form_start(form, {attr: {class: 'filter'}}) }}
    
        {{form_row(form.q)}}

      <br>
       <div class="column">
       <h4>Plateformes</h4>
        <br class="brtitre">
       {{form_row(form.plateformes)}}
       </div>
        <div class="column">
       <h4>Genres</h4>
       <br class="brtitre">
       {{form_row(form.genres)}}
       </div>
       <button type="submit" class="btn btn-primary w-100">Filtrer</button>
    {{ form_end(form) }}
 </div>
 </div>
 <br>

    <div >
        {% for game in games %}
            <a href="{{ path('games_get', { id: game.id}) }}">

            <div class="card" style="width: 60%;">
                <span class="spanphoto">
                   <img src="{{ game.photo }}" />
                </span>
                
                <span style="margin-right:20px; margin-top: 100px;" >
                    <h2>{{ game.title }}</h2>
                    <table class="table">
                      <thead>
                        <tr>
                          {% for plateforme in game.plateforme %}
                          <th style="font-size: 1.5rem;" scope="col">{{plateforme.name}}</th>
                          {% endfor %}
                        </tr>
                      </thead>

                       <thead>
                        <tr style="text-align:center;width:30%;">
                          {% for genre in game.genre %}
                          <th style="font-size: 1.5rem;" scope="col">{{genre.name}}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                    </table>
                    <h4>Sortie le {{ game.year.format('d/m/Y') }}</h4>  
                    <br class="brtitre">
                    <p class="paragraphe">{{ game.synopsis }}</p>
                    <p class="paragraphe">...</p>
                </span>            
            </div>
            </a>  
            <br>

        {% endfor %}

        <div class="pagination">
         {{ knp_pagination_render (games)}}
        </div>
    </div>
    
   

     
      



{% endapply %}
{% endblock %}
