{% extends 'base.html.twig' %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div class ="row    ">
    <h1>Liste des jeux videos</h1>
    <br class="brtitre">

      <div class="cardFiltre">
    {{ form_start(form, {attr: {class: 'filter'}}) }}
    
        {{form_row(form.q)}}

      <br>
       <div class="column">
       <h4>Plateformes</h4>
        <br class="brtitre">
       {{form_row(form.plateformes)}}
       </div>
        <div class="column">
       <h4>Genres</h4>
       <br class="brtitre">
       {{form_row(form.genres)}}
       </div>
       <button type="submit" class="btn btn-primary w-100">Filtrer</button>
    {{ form_end(form) }}
 </div>


  <br class="brtitre">

    <div>
        {% for game in games %}
            <a href="{{ path('games_get', { id: game.id}) }}">

            <div class="card">
                <span class="spanphoto">
                   <img src="{{ game.photo }}" />
                </span>
                
                <span class="spancontenu">
                    <h1>{{ game.title }}</h1>
                    <br class="brtitre">
                    <h4>{{ game.plateforme }}</h4>
                    <h4>Sortie le {{ game.year.format('d/m/Y') }}</h4>  
                    <br class="brtitre">
                    <p class="paragraphe">{{ game.synopsis }}</p>
                    <p class="paragraphe">...</p>
                </span>            
            </div>
            </a>  
            <br>

        {% endfor %}

        <div class="pagination">
         {{ knp_pagination_render (games)}}
        </div>
    </div>
    
   

     
      



{% endapply %}
{% endblock %}
