{% extends 'base.html.twig' %}

{% block body %}
{% apply inline_css(source("styles/login.css")) %}
<div class="box">
{% if isAdd %}
        <h1>Inscription</h1>
    {% else %}
        <h1>Mes informations</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form.mail, {'attr': {'class': 'email', 'placeholder': 'Adresse mail'}}) }}
    {{ form_widget(form.password, {'attr': {'class': 'email', 'placeholder': 'Mot de passe'}}) }}
    {{ form_widget(form.passwordConfirm, {'attr': {'class': 'email', 'placeholder': 'Confirmation du mot de passe'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'email', 'placeholder': 'Nom'}}) }}
    <button class="btn" type="submit">Valider!</button>
    {{ form_end(form) }}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('user_delete') }}">Supprimer mon compte</a>
    {% else %}
        <button class="btn2"><a href="{{ path('security_login') }}">Connexion</a></button>
    {% endif %}
    </div> <!-- End Box -->
    
{% endapply %}
{% endblock %}