{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div id ="">
{% include 'shared/article-card.html.twig' %}

</div>


<div class="card">
  <span class="spancontenu">
 <h2><b>Liste des commentaires</b></h2>
 <br class="brtitre">
  {% for commentaire in article.commentaires %}
  {% if commentaire.parent ==  null %}
  <h4>Publié par {{commentaire.user}} le {{commentaire.createdAt | date("d/m/Y H:i")}}</h4>
  <div>{{commentaire.contenu|raw}}</div>
  <button><a href="#ajouter-commentaire" data-reply data-id="{{commentaire.id}}">Répondre</a></button>
  <br class="titre">
    {% for reply in commentaire.replies %}
      <h4>Réponse publié par {{reply.user}} le {{reply.createdAt | date("d/m/Y H:i")}}</h4>
      <div>{{reply.contenu|raw}}</div>
        <br class="titre">

      {% endfor %}
   {% endif %}
  {% endfor %}
<br>
<div id="ajouter-commentaire">
    {{ form(commentForm) }}
 </div>   
    </span>
</div>
    <br class="brtitre">
    <br class="brtitre">
<div class="fixed-bottom" style="margin: 20px;">
  <button class="btn btn-primary float-start buttonback"> <a href="{{ path('article_index')}}"><i class="fa fa-arrow-circle-left"></i> Retour à la liste </button>
  <button class="btn btn-primary float-end buttonback"> <a href="#">Haut  <i class="fa fa-arrow-circle-up"></i> </button>
</div>
    
 
  
{% endapply %}
{% endblock %}

{% block javascripts %}

<script>
    window.onload = () =>{
      //ecouteurs d'evenements  sur les boutons répondre, quand on clique dessus 
      document.querySelectorAll("[data-reply]").forEach(element => {
        element.addEventListener("click", function(){
          document.querySelector("#commentaire_parentid").value = this.dataset.id;
          console.log(document.querySelector("#commentaire_parentid").value);
        });

      });

    }

</script>
{% endblock %}
